<main class="form-auth-container signup">
    <h1>Sign Up</h1>

    <form class="form-auth" action="/signup" method="post">
        <div>
            <label for="userName">Username</label>
            <input type="text" name="userName" id="userName" placeholder="Enter your full name" required
                minlength="5" maxlength="50">
            {{#if userNameError}}
            <div>
                <span>{{userNameError}}</span>
            </div>
            {{/if}}
        </div>
        <div>
            <label for="userEmail">Email</label>
            <input type="email" name="userEmail" id="userEmail" placeholder="email@email.com" required minlength="5"
                maxlength="50">
            {{#if userEmailError}}
            <div>
                <span>{{userEmailError}}</span>
            </div>
            {{/if}}
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required minlength="6"
                maxlength="50">
            {{#if passwordError}}
            <div>
                <span>{{passwordError}}</span>
            </div>
            {{/if}}
        </div>

        <div>
            <label for="cro">CRO</label>
            <input type="text" name="cro" id="cro" placeholder="Enter your CRO" >
            {{#if passwordError}}
            <div>
                <span>{{passwordError}}</span>
            </div>
            {{/if}}
        </div>


        {{#if errorMessage}}
        <div>
            <span>{{errorMessage}}</span>
        </div>
        {{/if}}

        <button type="submit">Submit</button>
    </form>
</main>